@import url('base.css');
/* 导航开始 */
section:first-of-type{
	width:1349px;
	height: auto;
	margin: 0 auto;
    padding:40px 0;
}
.nav{
	width:1200px;
	margin: 0 auto;	
	padding-left: 542px;
	padding-bottom:40px;
    position: relative;
}
.box{
	width: 200px;
	height:60px;
	background: pink;
	position: absolute;
	top: 0;
	left: 0;
}
.nav li{
	float:left;
	padding: 0 10px;	
	font-size: 16px;
	font-weight: bold;
	line-height: 45px;
	margin: 0 30px;
	border-bottom: 0;
}
.nav li:last-child{
	margin-right: 0;
}
.nav li a{
	color: #000;
	
}
.nav li.active{
	border-bottom: 2px solid #070606;
}
.nav li:hover{
	border-bottom: 2px solid #070606;
}
/* 导航结束 */
/* banner开始 */
.ban-box{
   width: 100%;
   height: auto;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   z-index: 33;
}
/* banner结束 */
/* 内容开始 */
.nei-box{
   width: 100%;
   height: auto;
   margin: 0 auto;
   overflow: hidden; 
   padding: 20px 0;
}
.nei{
   width:1200px;
   height: 120px;
   margin: 0 auto;
   position: relative;
 
}
.nei img{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -225px;
}
.nei h2{
	font-size: 38px;
	color: #ef33a9;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left:-76px ;
}
.nei P{
	font-size: 16px;
	line-height: 32px;
	position: absolute;
	left: 50%;
	top: 62px;
	margin-left: -96px;
}
.nei-top{
   width:1200px;
   height: auto;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
}
.nei-right{
   padding: 20px 60px;
}
.nei-right:nth-of-type(1){
	padding-top: 50px;
   padding-left:0px;
}
.nei-right h6{
	font-size:17px;
	line-height: 36px;
	color: #666;
	margin-bottom: 30px;
}
.nei-right p{
	font-size:17px;
	line-height: 36px;
	color: #333;
}
/* 内容结束 */
/* 知识开始 */
.zhi-box{
   width: 100%;
   height: auto;
   margin: 0 auto;
   overflow: hidden;
   padding: 20px 0;
}
.shi{
   width:1200px;
   margin: 0 auto;
  
}
.shi p{
   width:148px;
   font-size: 36px;
   color:#fff;
   font-weight:800;
   line-height: 60px;
    text-align: center;
   background: #999;
   border-radius: 10px;
   margin-bottom: 30px;
}
.shi p:hover {
	transform: rotate3d(0, 0, 10, 10deg);
	background: pink;
}
.zhi{
   width:1200px;
   height: 120px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
.zhi-left{
	
	border-radius: 10px;
	border:3px solid #8d3131;
}
.zhi-left:hover{
	border:3px solid #000;
}
.zhi-right{
	padding-left: 60px;
}
.zhi-right a{
	font-size: 16px;
	line-height: 30px;
	color: #000;
}
.zhi-right a:hover{
	color: #ff0036;
	font-size: 18px;
}
.zhi-right p{
	font-size: 14px;
	line-height: 24px;
}
.xian{
	width: 1200px;
	border: 1px dashed #333;
	margin: 20px auto;
}
.zhi:last-of-type{
	margin-bottom: 40px;
}
/* 知识结束 */
/* 最后开始 */
.zui-box{
	width: 100%;
	height: auto;
	background: #000;
	margin: 0 auto;
	padding: 60px 0;
}
.zui{
	width: 1200px;
	height:160px;
	margin: 0 auto;
}
.zui-zi{
	width: 600px;
	height:32px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.zui-zi li{
	width:100px;
	text-align: center;
	margin-right: 20px;
	float: left;
	font-size: 18px;
	line-height: 30px;
}
.zui-zi li a{
	color: #fff;
}
.zuixian{

	width: 1200px;
	margin: 0 auto;	
	float: left;
	border: 1px dashed #999;
}
.zui-bottom{
	width: 600px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}
.zui-bottom p{
	font-size: 16px;
	color: #fff;
	line-height: 50px;
}
/* 最后结束 */

